/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * TOOLS
 * Apollo...............Useful mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Typography.............H1–H6 styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Site-nav............The site-wide header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 * TRUMPS
 * Text.................Text helpers.
 */




 /*------------------------------------*\
     #GENERIC
 \*------------------------------------*/


 /**
 * Custom
 */

 body {
   padding-top: 71px;
 }


 /**
 * Colors
 */

 $white: #fff;
 $black: #000;
 $l_grey: #9B9B9B;
 $m_grey: #4A4A4A;
 $d_grey: #3D3D3D;

 $dark_red: #BF1522;
 $main_red: #FF1C2D;
 $med1_red: #FF4857;
 $med2_red: #FF7781;
 $lig1_red: #FFA4AB;
 $lig2_red: #FFD2D5;

 $score_good: #FF1C2D;
 $score_med: #FF7781;
 $score_bad: #524445;

 $y_opt: #46A455;
 $y_now: #02AFEB;
 $y_out: #FF6137;

 $s_twit: #B1E5F8;
 // $s_inst: #;
 // $s_face: #;
 // $s_yout: #;





 /*------------------------------------*\
     #TOOLS
 \*------------------------------------*/


 /**
 * Apollo Mixins
 */


 /**
 * Basic Colors
 */

 .white {
   color: $white;
 }

 .brand-red {
   color: $main_red;
 }


 /**
 * Basic Color Fills + Borders
 */

 .fill-white {
   color: $d_grey;
   background: $white;
   border: 1px solid $white;
 }

 .outline-white {
   color: $white;
   background: none;
   border: 1px solid $white;
 }

 .fill-red {
   color: $white;
   background: $main_red;
   border: 1px solid $main_red;
 }

 .outline-red {
   color: $main_red;
   background: none;
   border: 1px solid $main_red;
 }

 .fill-dark-red {
   color: $white;
   background: $dark_red;
   border: 1px solid $dark_red;
 }

 .fill-med1-red {
   color: $white;
   background: $med1_red;
   border: 1px solid $med1_red;
 }

 .fill-med2-red {
   color: $white;
   background: $med2_red;
   border: 1px solid $med2_red;
 }

 .fill-lig1-red {
   color: $white;
   background: $lig1_red;
   border: 1px solid $lig1_red;
 }

 .fill-lig2-red {
   color: $white;
   background: $lig2_red;
   border: 1px solid $lig2_red;
 }




 /*------------------------------------*\
     #BASE
 \*------------------------------------*/

 /**
 * Typography
 * Perfect Fourth Scale
 */

html {
  font-size: 16px;
  font-size: 1em;
}

body {
  background-color: white;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {
  margin-bottom: 1.3em;
  margin-bottom: 1.3rem;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  margin: 1.414rem 0 0.5rem;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
  font-size: 3.998rem;
}

h2 {
  font-size: 2.827em;
  font-size: 2.827rem;
}

h3 {
  font-size: 1.999em;
  font-size: 1.999rem;
}

h4 {
  font-size: 1.414em;
  font-size: 1.414rem;
}

.emphasis-copy {
  font-weight: normal;
  font-size: 1em;
  font-size: 1rem;
  line-height: 1.414em;
  line-height: 1.414rem;
}

small, .font_small {
  font-size: 0.707em;
  font-size: 0.707rem;
}

.small {
  font-weight: bold;
  font-size: 0.707em;
  font-size: 0.707rem;
  letter-spacing: .8px;
  text-transform: uppercase;
}






/*------------------------------------*\
    #COMPONENTS
\*------------------------------------*/


/**
* Site-Header+Nav
*/

.navbar-fixed-top {
  background-color: #fff;
}

.navbar-brand {
  padding-top: 10px;
  display: block;
  height: auto;
  margin: 0 auto;
  display: block;
  width: 100%;
  img {
    max-height: 45px;
    margin: 0 auto;
  }

}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 0;
  width: 25px;
  padding: 0;
}

.navbar-toggle img {
  width: 100%;
}

.navbar-collapse {
  background-color: #4D4D4D;
  li {
    text-align: center;
    a {
      color: #9B9B9B;
    }
  }
}

.navbar-collapse li.active > a{
  color: #FFF;
}


/**
* Buttons
*/

.btn {
  font-weight: bold;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  padding: .707rem 1.414rem;
  width: 100%;
  max-width: 300px;
  margin: 0 auto 1.414rem;
  display: block;
  font-size: .707rem;
  border-radius: 30px;
}


/**
* Buttons
*/

.input-text-container {
  margin: 0 .707rem .707rem .707rem;
  border-bottom: 1px solid white;
  input[type="text"] {
    color: $white;
    width: 100%;
    background-color: transparent;
    border: none;
    padding: .707rem;
    &:focus {
      outline: none;
      background-color: rgba(0,0,0,.2);
    }
  }
}

.input-submit-container {
  margin: 1.414rem 0 1.999rem 0;
}


/**
* Supporter Section
*/

#supporters {
  margin: 1.414rem 0 1.999rem;
  header h4 {
    text-transform: uppercase;
    letter-spacing: 1.7px;
    font-weight: bold;
    color: $l_grey;
  }
}


/**
* Footer Section
*/

#main-footer {
  background: $m_grey;
  color: $white;
  section.row header {
    padding: 1.414rem 0 0 0;
    h5 {
      font-weight: bold;
      letter-spacing: .7px;
      text-align: left;
      padding: 1.414rem 0 .707rem 0;
      border-bottom: 1px solid $white;
    }
  }
}

.newsletter-form {
  .input-text-container {
    margin: 0 0 .707rem 0;
  }
}

#hash-and-social {
  ul {
    margin-left: 0;
    padding-left: 0;
    display: block;
    width: 100%;
  }
  li {
    display: inline-block;
    width: 24%;
  }
}

#old-contact {
  a { color: $white; }
}


/**
* Footer Section
*/

#copyright {
  text-align: left;
  padding: .707rem 1.999rem;
  font-color: $m_grey;
}

/**
* Content-panels
*/

.panel {
  padding: 1.414rem .707rem;
  margin-bottom: 0;
  border-radius: 0;
  h5 {
    font-size: 1.414em;
    font-size: 1.414rem;
    font-weight: bold;
    letter-spacing: .7px;
  }
  .subheading, .check-it-cta a {
    font-size: .707em;
    font-size: .707rem;
    font-weight: bold;
    letter-spacing: 1.7px;
    text-transform: uppercase;
  }
}

.action-panel {
  .overlay b {
    font-size: 1.6rem;
    position: absolute;
    right: 15px;
    top: 1.75rem;
  }
  .content h5 {
    display: none;
  }
}

.blog-panel, .social-media-panel {
  height: 320px;
  overflow: hidden;
  .check-it-cta {
    position: absolute;
    bottom: 1.414rem;
    a { font-weight: normal; }
    img { height: 45px; }
  }
}

.social-media-panel {
  background-color: $s_twit;
}



/*------------------------------------*\
    #CONTENT
\*------------------------------------*/


/**
* Section Headers
*/

section.row header {
  padding: 2.827rem .707rem 1.414rem .707rem;
  text-align: center;
  h1 {
    letter-spacing: .7px;
    font-size: 1.999rem;
    font-weight: bold;
  }
}
