/*------------------------------------*\
    #HOMEPAGE
\*------------------------------------*/

/**
* Homepage Sections
*/

.container-fluid#home-hero {
  background-size: cover;
}

.container-fluid#report-section {
  #country-scroll ul {
    width: 90%;
    max-width: 320px;
    height: 75px;
    margin: 0 auto 1.999rem;
    padding: 0;
    overflow: auto;
    li {
      width: 100%;
      color: #9B9B9B;
      list-style: none;
      padding: 0 .75rem;
    }
  }
}

.container-fluid#contribute {
  #visa-heading {
    background-size: cover;
    background-position: 21% 0;
  }
  header {
    padding: 2.827rem 0;
  }
}

.row#legend {

  h5 { text-align: center; color: #9B9B9B; margin-top:15px;}

  .circle {
    &:before {
      display: block;
      content: '';
      display: block;
      width: 25px;
      height: 25px;
      border: 1px solid;
      float: left;
      margin-top: -3px;
      margin-right: 5px;
      border-radius: 30px;
    }
    h6 {
      letter-spacing: .2px;
      font-size: 10px;
      color: #9B9B9B;
      max-width: 90px;
    }
  }

  .circle#high-ranking:before {
    border: 1px solid #FF1C2D;
    background-color: #FF1C2D;
  }

  .circle#avg-ranking:before {
    border: 1px solid #FF7781;
    background-color: #FF7781;
  }

  .circle#low-ranking:before {
    border: 1px solid #524445;
    background-color: #524445;
  }

}


/**
* Homepage Section Breakpoints
*/

@media (screen and min-width: 768px) {
  .container-fluid#home-hero .centerer {
    width: 66%;
    max-width: 620px;
    margin: 0 auto;
    display: block;
    .input-text-container {
      display: inline-block;
      width: 45%;
      &:first-child {
        margin-right: 5%;
        margin-left: 2.5%;
      }
    }
  }

  .action-panel {
    height: 300px;
  }
}

@media (screen and min-width: 992px) {

}





/*------------------------------------*\
    #ABOUT
\*------------------------------------*/

/**
* About Page Sections
*/

.container-fluid#about-hero {
  background: #4D4D4D;
}


/**
* Homepage Section Breakpoints
*/

@media (screen and min-width: 768px) {
  .container-fluid#about-hero {
    padding-bottom: 3.998rem;
  }
}




/*------------------------------------*\
    #BLOG-SINGLE
\*------------------------------------*/

/**
* Single-Blog Sections
*/

#post-hero {
  background: #3d3d3d;
  header {
    h6 {
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1.7px;
    }
    .byline {
      margin-top: 1.999rem;
      margin-bottom: 2.827rem;
      color: #fff;
    }
  }
}

#blog-navigation {
  margin-top: 2.827rem;
  .last-post,
  .next-post,
  .category {
    img {
      width: 35px;
      margin: 0 auto;
      display: block;
      color: #4A4A4A;
      display: block;
    }
    a {
      float: none;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1.7px;
      font-weight: bold;
      display: block;
      font-size: 11px;
      color: #4A4A4A;
      margin: .707rem auto;
    }
    span {
      display: block;
      margin-top: .707rem;
    }
  }
  .category a {
    text-align: center;
    margin-top: 35px;
    padding-top: 1.414rem;
    color: #4A4A4A;
  }
}


/**
* Single-Blog Breakpoints
*/

@media (screen and min-width: 768px) {
  #blog-navigation {
    .last-post,
    .next-post {
      img, span { float: left; }
    }
    .last-post span { margin-left: .707rem; }
    .next-post img { float: right; }
    .next-post span { float: right; margin-right: .707rem;}
    .category a { margin-top: 25px; padding-top: 0; }
  }
}





/*------------------------------------*\
    #BLOG
\*------------------------------------*/

/**
* Blog Sections
*/

#blog-hero {
  background: #3d3d3d;
  padding-bottom: 2.827rem;
  margin-bottom: 0;
  header {
    h6 {
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1.7px;
    }
    .byline {
      margin-top: 1.999rem;
      margin-bottom: 2.827rem;
      color: #fff;
    }
  }
}

#blog-page-navigation {
  margin-top: 2.827rem;
  .last-post,
  .next-post,
  .category {
    img {
      width: 35px;
      margin: 0 auto;
      display: block;
      color: #4A4A4A;
      display: block;
    }
    a {
      float: none;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1.7px;
      font-weight: bold;
      display: block;
      font-size: 11px;
      color: #4A4A4A;
      margin: .707rem auto;
    }
    span {
      display: block;
      margin-top: 1rem;
    }
  }

  .last-post.disabled,
  .next-post.disabled {
    display: none;
  }

  .pagination {
    margin-top: 3.5rem;
  }
  .pagination a {
    font-size: 11px;
    text-align: center;
    padding-top: .707em;
    color: #4A4A4A;
    border: none;
  }
  .pagination>.active>a {
    background: #fff;
    color: #000;
    font-weight: bold;
    border: none;
  }
  .pagination>li>a:focus {
    background: #fff;
  }
}


/**
* Blog Breakpoints
*/

@media (screen and min-width: 480px) {
  #blog-page-navigation {
    .last-post,
    .next-post {
      img, span { float: left; }
      span {margin-top: .707rem;}
    }
    .last-post span { margin-left: .707rem; }
    .next-post img { float: right; }
    .next-post span { float: right; margin-right: .707rem;}
    .pagination { margin-top: 15px; padding-top: 0; }
  }
}



/*------------------------------------*\
    #COUNTRY-PAGE
\*------------------------------------*/

/**
* Single Country Page
*/

.container-fluid#country-data {
  padding: 0;
  margin-bottom: 0;
  section.row {
    margin-right: 0;
    margin-left: 0;
    padding-right: 15px;
    padding-left: 15px;
  }

  h2 {
    margin-top: 0;
    font-size: 1.414rem;
    font-weight: bold;
    text-align: center;
  }

  #outlook-now-data {
    padding: 0 15px 1.414rem 15px;
    background: #797979;
  }

  .metric-score {
    h3 {margin-top: 0;}
  }

  #main-data {
    .col-sm-4:first-child {
      overflow: auto;
    }
  }

  h4.data-cat-header {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: .7px;
    color: #9B9B9B;
    text-align: center;
  }

  .icon {
    margin-top: .707rem;
    margin-right: .707rem;
    margin-bottom: .707rem;
    width: 45px;
    height: 45px;
    display: block;
    float: left;
    background: #fff;
    border-radius: 30px;
    border: 3px solid white;
    img {
      width: 100%;
    }
    &.high-ranking {
      border: 1px solid #FF1C2D;
      background-color: #FF1C2D;
    }

    &.avg-ranking {
      border: 1px solid #FF7781;
      background-color: #FF7781;
    }

    &.low-ranking {
      border: 1px solid #524445;
      background-color: #524445;
    }
  }

  .icon.icon-composite-score {
    background: #fff;
    border: 3px solid white;
    img {
      width: 100%;
    }
    &.high-ranking {
      border: 3px solid #FF1C2D;
    }

    &.avg-ranking {
      border: 3px solid #FF7781;
    }

    &.low-ranking {
      border: 3px solid #524445;
    }
  }

  #global-index-rating,
  #youth-outlook {
    width: 45%;
    float: left;
  }

  #outlook-now-data h4.data-cat-header { color: #fff; }

  #composite-score,
  #youth-now  {
    width: 45%;
    float: left;
    margin-left: 5%;
  }

  #global-index-rating,
  #composite-score,
  #youth-outlook,
  #youth-now {
    .icon {margin-top: 0;}
    .subheading {clear: left;}
  }

  #youth-outlook,
  #youth-now {
    color: #fff;
    background: #797979;
    .learn-more {
      display: none;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 1.7px;
      font-weight: bold;
    }
  }

}

body.js {
  .pillar-container {
    position: relative;
  }
  .subindex-pillar {
    position: absolute;
    display: none;
    top: 0;
    overflow: hidden;
    transition: max-height .6s ease-out, opacity .6s;
    opacity: 0
  }
  .subindex-pillar.active {
    margin-top: 2.827rem;
    margin-bottom: 2.827rem;
    display: block;
    height: auto;
    position: relative;
    opacity: 1;
    transition: opacity .6s, max-height .6s ease-in;
  }

}

a[href="#youth-outlook-subindex-data"],
a[href="#youth-now-subindex-data"] {
  color: #fff;
}


.container-fluid#subindex-pillar-data {
  padding: 0;
  margin-bottom: 0;
  section.row {
    margin-right: 0;
    margin-left: 0;
    padding-right: 15px;
    padding-left: 15px;
  }

  .icon {
    margin-top: .707rem;
    margin-right: .707rem;
    margin-bottom: .707rem;
    width: 45px;
    height: 45px;
    display: block;
    float: left;
    background: #fff;
    border-radius: 30px;
    border: 3px solid white;
    img {
      width: 100%;
    }
  }

  h2 {
    margin-top: 0;
    font-size: 1.414rem;
    font-weight: bold;
    text-align: center;
  }

  h4.data-cat-header {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: .7px;
    text-align: center;
  }

  .row#youth-now-subindex-data {
    padding-bottom: 2.827rem;
    background: #02AFEB;
    color: #fff;
  }

  .row#youth-outlook-subindex-data {
    padding-bottom: 2.827rem;
    background: #FF6137;
    color: #fff;
  }

  #youth-outlook-subindex-data,
  #youth-now-subindex-data {
    .icon {margin-top: 0;}
    .subheading {clear: left;}
    .learn-more {
      display: none;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 1.7px;
      font-weight: bold;
    }
  }

  .subindex:hover {
    cursor: pointer;
  }

  .subindex-description h4,
  .pillar-data h4 {
    font-color: #797979;
    font-weight: bold;
    letter-spacing: 1.7px;
    font-size: 1rem;
  }

  .pillar-data section.row {
    padding-left: 0;
    padding-right: 15px;
    .pillar-ranking {padding-left: 0;}
  }

}


/**
* Blog Breakpoints
*/

@media (screen and min-width: 768px) {

  .container-fluid#country-data #global-index-rating,
  .container-fluid#country-data #composite-score {
    width: 100%;
    float: left;
    margin-left: 0;
  }

  .container-fluid#country-data #youth-outlook,
  .container-fluid#country-data #youth-now {
    width: 100%;
  }

  .container-fluid#country-data #composite-score {
    padding-top: 0;
  }

  .container-fluid#country-data #youth-optimism-ratio {
    .subheading {
      clear: left;
    }
    .icon {
      border: 0;
      margin-top: 0;
    }
  }

}

/*------------------------------------*\
    #MAP-HOMEPAGE
\*------------------------------------*/

/**
* Map Styling
*/

#map {
  width:100%;
  // height:61.8vh;
  height: 70vh;
  font-family: 'Fira Sans'
}

#country-map #map {
  height: 45vh;
}

.map-popup {
  padding: .707rem 0 0 0;
  h1 {
    font-size:1.414rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: .7px;
  }

  .ranking-row {
    overflow: auto;
    .subheading {
      margin-top: .707rem;
      font-weight: bold;
    }
  }

  .circle {
    border-radius: 30px;
    border: 1px solid;
    color:#fff;
    content: '';
    display: inline-block;
    line-height: 45px;
    margin-right: .707rem;
    text-align:center;
    width: 45px;
    height: 45px;
    font-size: 1.414rem;
    font-weight: bold;
    vertical-align: middle;
    letter-spacing: .7px;
    float: left;

    &.high-ranking {
      border: 1px solid #FF1C2D;
      background-color: #FF1C2D;
    }

    &.avg-ranking {
      border: 1px solid #FF7781;
      background-color: #FF7781;
    }

    &.low-ranking {
      border: 1px solid #524445;
      background-color: #524445;
    }
  }

  a.btn {
    color: #3D3D3D;
  }

  .circle-desc {
    display: inline-block;
    font-size: 1.414rem;
    color: #9b9b9b;
    vertical-align: middle;
  }

  dl {
    margin: 5px 0 0 0;
    overflow: auto;
    .icon {
      width: 45px;
      height: 45px;
      display: block;
      float: left;
      margin-right: .707rem;
    }
    .metric {
      font-size: 1.414rem;
      margin-bottom: 0;
      padding-bottom: 0;
      line-height: 20px;
    }
    .subheading {
      font-size: .707rem;
      letter-spacing: .7px;
      color: #797979;
    }
  }
}

#homepage-map {
  margin-bottom:0;
}
