/*------------------------------------*\
    #HOMEPAGE
\*------------------------------------*/

/**
* Homepage Sections
*/

.container-fluid#home-hero {
  background-color: #4D4D4D;
}

.container-fluid#report-section {
  #country-scroll ul {
    width: 90%;
    max-width: 320px;
    height: 75px;
    margin: 0 auto 1.999rem;
    padding: 0;
    overflow: auto;
    li {
      width: 100%;
      color: #9B9B9B;
      list-style: none;
      padding: 0 .75rem;
    }
  }
}

.container-fluid#contribute {
  #visa-heading {
    background-color: #4D4D4D;
  }
}

.row#legend {

  h5 { text-align: center; color: #9B9B9B;}

  .circle {
    &:before {
      display: block;
      content: '';
      display: block;
      width: 25px;
      height: 25px;
      border: 1px solid;
      float: left;
      margin-top: -3px;
      margin-right: 5px;
      border-radius: 30px;
    }
    h6 {
      letter-spacing: .2px;
      font-size: 10px;
      color: #9B9B9B;
      max-width: 90px;
    }
  }

  .circle#high-ranking:before {
    border: 1px solid #FF1C2D;
    background-color: #FF1C2D;
  }

  .circle#avg-ranking:before {
    border: 1px solid #FF7781;
    background-color: #FF7781;
  }

  .circle#low-ranking:before {
    border: 1px solid #524445;
    background-color: #524445;
  }

}


/**
* Homepage Section Breakpoints
*/

@media (screen and min-width: 768px) {
  .container-fluid#home-hero .centerer {
    width: 66%;
    max-width: 620px;
    margin: 0 auto;
    display: block;
    .input-text-container {
      display: inline-block;
      width: 45%;
      &:first-child {
        margin-right: 5%;
        margin-left: 2.5%;
      }
    }
  }

  .action-panel {
    height: 300px;
  }
}

@media (screen and min-width: 992px) {

}





/*------------------------------------*\
    #ABOUT
\*------------------------------------*/

/**
* About Page Sections
*/

.container-fluid#about-hero {
  background: #4D4D4D;
}





/*------------------------------------*\
    #BLOG-SINGLE
\*------------------------------------*/

/**
* Single-Blog Sections
*/

#post-hero {
  background: #3d3d3d;
  header {
    h6 {
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1.7px;
    }
    .byline {
      margin-top: 1.999rem;
      margin-bottom: 2.827rem;
      color: #fff;
    }
  }
}

#blog-navigation {
  margin-top: 2.827rem;
  .last-post,
  .next-post,
  .category {
    img {
      width: 35px;
      margin: 0 auto;
      display: block;
      color: #4A4A4A;
      display: block;
    }
    a {
      float: none;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1.7px;
      font-weight: bold;
      display: block;
      font-size: 11px;
      color: #4A4A4A;
      margin: .707rem auto;
    }
    span {
      display: block;
      margin-top: .707rem;
    }
  }
  .category a {
    text-align: center;
    margin-top: 35px;
    padding-top: 1.414rem;
    color: #4A4A4A;
  }
}


/**
* Single-Blog Breakpoints
*/

@media (screen and min-width: 768px) {
  #blog-navigation {
    .last-post,
    .next-post {
      img, span { float: left; }
    }
    .last-post span { margin-left: .707rem; }
    .next-post img { float: right; }
    .next-post span { float: right; margin-right: .707rem;}
    .category a { margin-top: 25px; padding-top: 0; }
  }
}





/*------------------------------------*\
    #BLOG
\*------------------------------------*/

/**
* Blog Sections
*/

#blog-hero {
  background: #3d3d3d;
  padding-bottom: 2.827rem;
  margin-bottom: 0;
  header {
    h6 {
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1.7px;
    }
    .byline {
      margin-top: 1.999rem;
      margin-bottom: 2.827rem;
      color: #fff;
    }
  }
}

#blog-page-navigation {
  margin-top: 2.827rem;
  .last-post,
  .next-post,
  .category {
    img {
      width: 35px;
      margin: 0 auto;
      display: block;
      color: #4A4A4A;
      display: block;
    }
    a {
      float: none;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1.7px;
      font-weight: bold;
      display: block;
      font-size: 11px;
      color: #4A4A4A;
      margin: .707rem auto;
    }
    span {
      display: block;
      margin-top: 1rem;
    }
  }

  .last-post.disabled,
  .next-post.disabled {
    display: none;
  }

  .pagination {
    margin-top: 3.5rem;
  }
  .pagination a {
    font-size: 11px;
    text-align: center;
    padding-top: .707em;
    color: #4A4A4A;
    border: none;
  }
  .pagination>.active>a {
    background: #fff;
    color: #000;
    font-weight: bold;
    border: none;
  }
  .pagination>li>a:focus {
    background: #fff;
  }
}


/**
* Blog Breakpoints
*/

@media (screen and min-width: 480px) {
  #blog-page-navigation {
    .last-post,
    .next-post {
      img, span { float: left; }
      span {margin-top: .707rem;}
    }
    .last-post span { margin-left: .707rem; }
    .next-post img { float: right; }
    .next-post span { float: right; margin-right: .707rem;}
    .pagination { margin-top: 15px; padding-top: 0; }
  }
}



/*------------------------------------*\
    #COUNTRY-PAGE
\*------------------------------------*/

/**
* Single Country Page
*/
